.app-header {
  display: flex;
  align-items: center;
  align-content: space-between;
  height: 70px;
  color: #ffffff;
  background: #EA4242;
}

.navBtn {
  width: 100px;
  height: 100%;
  color: #ffffff;
  background: #EA4242;
  border: none;
  outline: none;
}

.navBtn:hover {
    color: #EA4242;
    background: rgb(255, 255, 255);
}

.navBtn:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
