.gitGrid{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  margin-top: 2%;
}
.gitGrid > p {
  text-align: center;
  margin: 5px;
}

body {
  background-color: #353A40;
  /* background: linear-gradient(to bottom, #DB2B39 50%,#2B303A 50%); */
  /* background-color: linear-gradient(right, #353A40 50%, #231314 50%); */
}
