.App {
  background-color: #282c34;
  color: white;
  text-align: center;
}

.App-header {
  background-image: radial-gradient(circle, black, grey, #282c34);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content-container{
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-rows: auto auto;
}

.about-header > h2{
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin: 5vh;
}

.about-content{
  display: grid;
  grid-template-columns: auto auto auto;
  height: 20vh;
}

.about-text{
  text-align: center;
  align-items: center;
  position: relative;
  max-width: 75vh;
}

.About-content-container{
  display: grid;
  grid-template-rows: auto auto;
  margin: 10px;
}

.imageLeft{
  display: flex;
}
.imageRight{
  display: block;
  height: inherit;
  margin-left: 2vh;
  margin-right: 2vh;
}

.imageCenter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.videoTutorialContainer {
    display: grid;
    grid-template-rows: auto auto;
    padding: 5% 20% 5% 20%;
}

.video {
    height: 100%;
    width: 100%;
}
