.aboutUsContainer {
    background-color: #282c30;
    color:white;
    padding: 5% 20% 5% 20%;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 100px;
    min-height: 100vh;
}

.aboutApp {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    font-size: 18px;
}

.aboutImage {
    background-color: #EA4242;
    padding: 5% 5% 5% 5%;
}

.aboutAppContainer > h2 {
    padding: 0;
}

.theTeam {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

}

.names {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.theTeam > img {
    border-radius:50%;
}

.imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
}

.role{
    text-align: left;
    margin-left: 5px;
}
