.aboutUsContainer {
    background-color: #282c30;
    background-image: radial-gradient(circle, #38201A, #231314 75%);
    /* background-image: radial-gradient(circle, black, #282c34 75%); */
    /* background-image: radial-gradient(circle, black, grey); */
    color:white;
    padding: 5% 20% 5% 20%;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 50px;
    min-height: 100vh;
}

.aboutUsContainer > h1 {
  vertical-align: middle;
  max-height: inherit;
  margin-top: 10%;
}

.theTeam {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

}

.names {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.theTeam > img {
    border-radius:50%;
}

.aboutImageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
}

.role{
    text-align: left;
    margin-left: 5px;
}


.linkedInImg{
  height: 32px;
}

.contactDiv{
  display: inline-grid;
  grid-auto-rows: auto auto;
  grid-row-gap: 10px;
}
